#searchb {
  padding: 15px;
  position: absolute;
  top: 40%;
  left: 43%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  transform: scale(2);
  box-shadow: white;
}



#icon {
  margin: 0.5%;
  height: 75px;
  width: 75px;
  top: 0px;
}

#about {
  position:absolute;
  bottom:0px;
  right:25%;
  left:48%;
}

#content {
  padding: 10%;
  color: black;
  position: fixed;
  top: 20%;
  text-align: center;
}


#navbar {
  margin: 0.5%;
  height: 75px;
  width: 75px;
  top: 0px;
}

#items {
  float: right;
  margin: 0.5%;
  top: 0px;
  right: 25%;
}

#environment {

}